$cardLength: 300px;
$cardMargin: 5px 10px 0 10px;
$fontFamily:  Arial, Helvetica, sans-serif;
$inputBorder: 2px solid #1c6dd8;
$hoverColor: #e0e0e0;
$cardBackgroundColor: #ebecf0;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body{
	font-size: 1.2em;
	font-family: $fontFamily
}
.main-container{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

.clickthrough{
	pointer-events: none;
}
/* Dash Scren */

.dash-screen{
	position: relative;
	width: 100%;
	height: 100%;
	/*background-image: url('/bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;*/
	background-color: #c5a027;

	.card-container{
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;

		.board{
			height: auto;
			width: calc($cardLength + 20);
			margin: $cardMargin;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;

			.card{
				width: $cardLength;
				background-color: $cardBackgroundColor;
				height: auto;
				position: relative;
				border-radius: 4px;

				.container{
					height: auto;
					max-height: 90vh;
					overflow: auto;
				}

				.card-textarea{
					background-color: white;
					font-size: 0.8em;
					margin-left: 15px;
					border-radius: 5px;
					display: inline-block;
					max-height: 145px;
				}

				textarea{
					display: inline-block;
					cursor: pointer;
					overflow: visible;
					font-family: $fontFamily;
					resize: none;
					background-color: transparent;
					border: $inputBorder;
					border-color: transparent;
					margin: 5px 0 0px 5px;
					font-size: 0.9em;
					width: 80%;
				}
				textarea:focus{
					outline: none;
					border: $inputBorder;
					background-color: white;
					border-radius: 3px;
				}
				a.menu-icon{
					cursor: pointer;
					height: 34px;
					padding: 0 10px 0 10px;
					position: absolute;
					font-size: 1.2em;
					top: 3px;
					right: 5px;
				}
				a.add-item-icon{
					display: block;
					cursor: pointer;
					width: 80%;
					margin: 5px 0 5px 5px;
					padding: 5px 0 5px 5px;
					font-size: 0.9em;
				}
				a:hover{
					background-color: $hoverColor;
					border-radius: 5px;
				}
				.card-item{
					background-color: white;
					padding: 5px 0 0 0;
					border-radius: 5px;
					box-shadow: 1px 2px 5px #bcc0cc;
					height: auto;
					width: 90%;
					margin-left: 5%;
					margin-bottom: 10px;

					.card-label{
						margin-top: 5px;
						margin-left: 5px;
						width: 50px;
						height: 10px;
						border-radius: 10px;
					}
					p{
						position: relative;
						display: inline;
						margin-left: 5px;
						top:5px;
					}
					.due{
						color: #8f8f8f;
						margin-top: 5px;
						padding-bottom: 5px;
						font-size: 0.8em;
						p{
							top: 0px;
						}
						i{
							position: relative;
							top: 5px;
							margin-left: 5px;
							font-size: 1.4em;
						}
					}

					.complete{
						color: white;
						background-color: #5aac44;
						border-radius:  0 0 5px 5px;
					}

					.due-soon{
						color: white;
						background-color: #e6c60d;
						border-radius:  0 0 5px 5px;
					}

					.over-due{
						color: white;
						background-color: #ec9488;
						border-radius:  0 0 5px 5px;
					}

					.footer{
						height: 15px;
					}
				}
				.btn-container{
					margin-top: -10px;
					margin-left: 5px;
				}
			}
		}

		.add-card{
			height: 90px;
			width: $cardLength;
			background-color: $cardBackgroundColor;
			border-radius: 5px;
			margin: $cardMargin;
			transition: height 0.2s ease, background-color 0.14s ease;
			overflow: hidden;
			

			.material-icons,p{
				display: none;
			}

			input{
				position: relative;
				width: 94%;
				line-height: 2em;
				top: 5px;
				left: 5px;
				outline: none;
				border: $inputBorder;
				border-radius: 3px;
			}
		}
		
		.idle{
			width: $cardLength;
			height: 40px;
			cursor: pointer;
			color: white;
			background-color: rgba(56, 56, 56, 0.4);
			border-radius: 5px;
			overflow: hidden;

			.material-icons{
				font-size: 2em;
				display: inline;
				position: relative;
				top: 0px;
				left: 0;
			}

			p{
				margin: auto;
				position: relative;
				display: inline;
				top: -12px;
				left: 10px;
			}

			input{
				display: none;
			}
		}
	}
}

.menu-button {
	cursor: pointer;
	border: none;
	color: white;
	padding: 8px 15px;
	margin: 15px 0 10px 10px;
	border-radius:  5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition: background-color 0.2s ease;
}

.menu-button.green{
	background-color: #4CAF50;
}

.menu-button:hover.green{
	background-color: #56c55a;
}

.menu-button:active.green {
	background-color: #3c813d;
}

.menu-button.red{
	background-color: #dd3434;
}

.menu-button:hover.red{
	background-color: #ff3a3a;
}

.menu-button:active.red {
	background-color: #ca3636;
}

.menu-button:focus {
	outline: none;
}